html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
}

html.dark {
  background: #121212;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
